<div class="posters">
    <div class="poster">
        <img src="https://occ-0-7613-3663.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABceLeNixb2YClWCNZjYoIR9Eymt8Qcq_C6-crDB4H94lde4GQvEeza2F2ernIPxlndbD-n9DXlHLFklyHfpxRsGSxnPU_81RcZu6x3VTemHiwlnVdQveYfwLJ1borOfhSYjq_w.jpg?r=778" alt="">
        <h1>MADE IN KOREA</h1>
    </div>
    <div class="poster">
        <img src="https://occ-0-7613-3663.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABWxBrAd5698jWUfOaV94QEe7efDHKqqjpFq3_SakVtT_L-ppQne7iKfd84dUqXtY2sgbw7oKcckEurRAwkLN5umaTQ2WWOSJt5kh7EytyUMyV9pA8EKBraQuWAtyF60p-UygDA.jpg?r=58c)%22" alt="">
        <h1>TEACH YOU A LESSON</h1>
    </div>
    <div class="poster">
        <img src="https://occ-0-7613-3663.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABT5dphV7L7RAkum2tUFdgrQVewbtBIKyFxigrezIWxLqANeimzxSmgKBD-jRnAHiC9pihgOmB7SWKUQtNVhGfc0mFD3N7nHs4_cr4qdge0DElXJiqGztIGg18jPOe94Cgr1Vl5mFI_TGQHI0b-fAcLggSffuqn89W2Snoh-xOX0BX5-HrYMfF6XI_okc1v1NsZLtnathX37Sb4NBCKIZ4w0jTkZ9sYU05mkXXJVEMvlluoUFBx3e16_fUFRVtwvE5Wwa.jpg?r=916" alt="">
        <h1>OUR STICKY LOVE</h1>
    </div>
    <div class="poster">
        <img src="" alt="">
        <h1></h1>
    </div>
    <div class="poster">
        <img src="" alt="">
        <h1></h1>
    </div>
    <div class="poster">
        <img src="" alt="">
        <h1></h1>
    </div>
    <div class="poster">
        <img src="" alt="">
        <h1></h1>
    </div>
    <div class="poster">
        <img src="" alt="">
        <h1></h1>
    </div>
</div>