<app-awardwinningtvshows></app-awardwinningtvshows>
<app-comedymovies></app-comedymovies>
<app-criticallyacclaimedtvshows></app-criticallyacclaimedtvshows>
<app-epicworlds></app-epicworlds>
<app-hero-section></app-hero-section>
<app-hindilanguagemovies></app-hindilanguagemovies>
<app-hollywoodmovies></app-hollywoodmovies>
<app-inabitofhurry></app-inabitofhurry>
<app-indiantvdramas></app-indiantvdramas>
<app-internationaltvdramas></app-internationaltvdramas>
<app-internationaltvshows></app-internationaltvshows>
<app-k-dramas></app-k-dramas>
<app-romanticmovies></app-romanticmovies>
<app-tvcomedies></app-tvcomedies>
<app-tvserials></app-tvserials>
<app-ustvshows></app-ustvshows>
<app-yoursnextwatch></app-yoursnextwatch>














